@{
	ViewBag.PageTitle = "Bundles";
	ViewBag.PageName = "Bundles";
}

@section css{
    <link href="~/Content/BundleIndex.css" rel="stylesheet" type="text/css" />
}

<h2>@ViewData["Title"]</h2>

<p>
	Nerd’s Treasure Chest realizes that some of our customers aren’t very familiar with the pc building experience, 
	so we provide these customers a bundles category. This bundles category has a few different packages that allow customers to
	feel confident about their choice, without the need of extensive research to educate themselves on all the potential products that may 
	fulfill their needs. In addition, these bundle deals are split into different categories: Beginner, Mid-Level, and Professional; all of which
	contain a great assortment of parts that will fulfill your needs. 
</p>

<div class="row bndlrow1" id="bndlrow1">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Bundles/Beginner">
                <img src="~/Content/images/bundleimages/Beginner/IntelCorei3.jpg" alt="171x180">
            </a>
            <div class="caption">
                <h4>Beginner Bundles</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Bundles/MidGrade">
                <img src="~/Content/images/bundleimages/MidGrade/IntelCorei7.jpg" alt="171x180">
            </a>
            <div class="caption">
                <h4>Mid-Grade Bundles</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/Bundles/Professional">
                <img src="~/Content/images/bundleimages/Professional/IntelSkylakeCore.png" alt="171x180">
            </a>
            <div class="caption">
                <h4>Professional Bundles</h4>
            </div>
        </div>
    </div>
</div>
<script>
  var root = '@Url.Content("~/")';
</script>