
@{
    ViewBag.PageTitle = "Bundles Page";
}

@*<h1>@ViewData["PageTitle"]</h1>*@

<p> Nerd’s Treasure Chest realizes that some of our 
	customers aren’t very familiar with the pc building experience, 
	so we provide these customers a bundles category. This bundles category 
	has a few different packages that allow customers to feel confident about 
	their choice, without the need of extensive research to educate themselves on 
	all the potential products that may fulfill their needs. In addition, these bundle 
	deals are split into different categories: Beginner, Mid-Level, and Professional; all 
	of which contain a great assortment of parts that will fulfill your needs. </p>