form > label {
	display: block;
	float: left;
	clear: left;
	width: 150px;
	font-weight: bold;
}

#contact_name, #contact_email, #contact_phone, #contact_purpose, #area {
	display: block;
	width: 300px;
	margin-bottom: 5px;
	margin-left: 150px;
}

#contact_message {
	height: 75px;
    width: 300px;
    display: block;
}

textarea, #feedbacksubmit {
    display: block;
}
