.homelogodiv {
    margin-top: -50px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.logocombo2 {
    padding-top: 50px;
    margin:auto;
    padding-left: 75px;
}

.logocombo1 {
    margin: auto;
    padding-left: 65px;
}

#siteintro {
    margin-bottom: 10px;
    padding-bottom: 15px;
}

#homebtn {
    background-color: darkgoldenrod;
}