body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 20px;*/
    padding: 30px 15px 20px 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*None default inputed code*/

#pricetable {
    border-collapse: collapse;
    margin-left: 190px;
    font-size: 15px;
}

#colname, #box {
    border: 1px solid;
    padding: 10px;
}

/*#Remove {
    background-color: grey;
    color: black;
    float: right;
    margin-top: -45px;
}*/

/*#Link {
    background-color: grey;
    color: black;
    float: right;
    margin-top: -45px;
}*/

/* CSS for Items on all Pages */
.itemimages {
    float: left;
}

#hidden {
    display: none;
}

#long {
    padding-left: 190px;
}

.minidescription {
    list-style-position: inside;
    margin-top: 25px;
}

.titlebar {
    text-align: center;
}

#itemslist {
    border: 1px solid red;
}

.list-group-item {
    border: 1px solid red;
}

/* Nav Bar adjustment */

.navbar-brand {
    padding: 0px;
    margin: auto;
    display:inline-block;
}

.navbar-brand > img {
     padding: 15px;
     width: auto;
     display: inline-block;
}

#navlogo {
    height: 70px;
    margin-left: 15px;
}

#navtitle {
    height: 50px;
    margin: auto;
}

.navbar-form {
    padding-right: 5px;
}

#login-links {
    margin: auto;
    padding-right: 10px;
}

.sidenavmain {
    float: right;
    margin-right: 5px;
}

footer {
    padding-top: 30px;
}