
@{
    ViewBag.PageTitle = "Accessories";
    ViewBag.PageName = "Accessories Home";
}

<p>Nerd’s Treasure Chest offers one of the best selection of
	accessories for your new system, if not the best. We carry a wide selection of brands, models, and  
	price points that are sure to fit into anyone’s budget. Our
	company also makes sure to only advertise the most reputable of products, 
so our customers can feel confident that they are getting the best quality product for their needs.</p>

<div class="row" id="cptbrow1">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Cases">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Cases</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/CoolingSystems">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Cooling Systems</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Memory">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Memory</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Motherboards">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Motherboards</h4>
            </div>
        </div>
    </div>
</div>
<div class="row" id="cptbrow2">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/PowerSupply">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Power Supply</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Processors">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Processors</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/SoundCards">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Sound Cards</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/VideoCards">
                <img src="..." alt="171x180">
            </a>
            <div class="caption">
                <h4>Video Cards</h4>
            </div>
        </div>
    </div>
</div>