
@{
    ViewBag.PageTitle = "Accessories";
    ViewBag.PageName = "Accessories Home";
}

<p>Nerd’s Treasure Chest offers one of the best selection of
	accessories for your new system, if not the best. We carry a wide selection of brands, models, and  
	price points that are sure to fit into anyone’s budget. Our
	company also makes sure to only advertise the most reputable of products, 
so our customers can feel confident that they are getting the best quality product for their needs.</p>