@{
    ViewBag.PageTitle = "Computer Parts";
    ViewBag.PageName = "Computer Parts";
}

@section css{
    <link href="~/Content/CPIndex.css" rel="stylesheet" type="text/css" />
}

<p>Nerd’s Treasure Chest offers the largest selection of computer parts found on any other website. 
	Our database contains all the latest and greatest components that the market has to offer and at the lowest 
	prices that are hard to pass up. The Nerd’s Treasure Chest database also gives you the ability to filter out parts based on their
	platform, generation, clock speeds, and other specific features that you may be looking for. In addition, we provide professionally
	written descriptions for our products that are sure to answer all your questions on the products. However, feel free to contact us on
	our Contact Us page for any clarification you may need on products.</p>

<div class="row cptbrow1" id="cptbrow1">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Cases">
                <img src="~/Content/images/computerpartsimages/Cases/Case_Corsair/casepic1.jpg" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Cases</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/CoolingSystems">
                <img src="~/Content/images/computerpartsimages/CoolingSystems/Cooler_CoolerMaster/Coolerpic1.jpg" alt="171x180" >
            </a>
            <div class="caption">
                <h4>Cooling Systems</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Memory">
                <img src="~/Content/images/computerpartsimages/Memory/Memory_Corsair" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Memory</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Motherboards">
                <img src="~/Content/images/computerpartsimages/Motherboards/AMD/Motherboard_Asrock/Motherboardpic1.jpg" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Motherboards</h4>
            </div>
        </div>
    </div>
</div>
<div class="row cptbrow2" id="cptbrow2">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/PowerSupply">
                <img src="~/Content/images/computerpartsimages/PowerSupplies/PowerSupply_Corsair/Powersupplypic1.jpg" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Power Supply</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/Processors">
                <img src="~/Content/images/computerpartsimages/Processors/AMD/Processor_1700/Processorpic1.jpg" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Processors</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/SoundCards">
                <img src="~/Content/images/computerpartsimages/SoundCards/Soundcard_Asus/Soundcardpic1.jpg" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Sound Cards</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <a href="~/ComputerParts/VideoCards">
                <img src="~/Content/images/computerpartsimages/VideoCards/Videocards_GTX1070/Videocardpic1.jpg" alt="171x180" height="171" width="180">
            </a>
            <div class="caption">
                <h4>Video Cards</h4>
            </div>
        </div>
    </div>
</div>
<script>
  var root = '@Url.Content("~/")';
</script>
