@{
    ViewBag.PageTitle = "Computer Parts";
    ViewBag.PageName = "Computer Parts";
}
<h2>@ViewData["Title"]</h2>

<p>Nerd’s Treasure Chest offers the largest selection of computer parts found on any other website. 
	Our database contains all the latest and greatest components that the market has to offer and at the lowest 
	prices that are hard to pass up. The Nerd’s Treasure Chest database also gives you the ability to filter out parts based on their
	platform, generation, clock speeds, and other specific features that you may be looking for. In addition, we provide professionally
	written descriptions for our products that are sure to answer all your questions on the products. However, feel free to contact us on
	our Contact Us page for any clarification you may need on products.</p>

<script>
  var root = '@Url.Content("~/")';
</script>
